<h1> Home page for {{ present_org.name_of_org }} </h1>
{% for notification in notifications %}

<div>
	{% if notification.is_message_from_org  %}
	<span><a href='/orgs/view_message/{{ notification.message_from_org_id.id }}/{{ org_id }}/'>
	<p> <strong>Message </strong> from {{ notification.message_from_org_id.sender_org_id.name_of_org }} </p>
	</a>
	</span>
	<br/>
	{% elif notification.is_request_from_admin %}
	<span><a href='/orgs/view_disaster_org/{{ notification.disaster_id.id }}/{{ org_id }}/' ><p> <strong> Disaster!!! </strong>  {{ notification.disaster_id.disaster_name }}</p></a>
	{% endif %}
</div>
{% endfor %}
<a href="/orgs/create_message/{{ org_id }}" > Send Message </a>
