<html>
	<script src="/static/organisation/js/angularjs.js"></script>
	<script src="/static/organisation/js/jquery.js"></script>
	<script>
		$(document).ready(function(){
			$("#button1").click(function(){
				$.ajax({
					url : "/test/", 
					type : "post", 
					dataType: "json",
					data : { query : 'username',
							csrfmiddlewaretoken: '{{ csrf_token }}'		
					}, 
					success : function(json){
						$('#abc').html(json.server_response);
						console.log(json.server_response);
					},
				});
			});
		});
	</script>
	<body>
	<div ng-app="myapp" ng-controller="myctrl">
	<div id="abc" ng-bind="someshit"></div>
	</div>
	<input type="button" id="button1" value="send to server"></input>
	</body>
</html>
