<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/organisation/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/organisation/css/hometrail.css">
		<script src="/static/organisation/js/angularjs.js"></script>
        <script src="/static/organisation/js/home.js"></script>
	</head>
	<body ng-app="myapp">
	<div ng-controller="myctrl" ng-init="init()">
		<div class="container-fluid">
			<div id="headerwrapper">
				<div class="row" id="topbar">
					<div class="col-md-3 col-sm-6 "><p>Disaster Management portal</p></div>
					<div class="col-md-4 tile"></div>
					<div class="col-md-3 col-sm-6"><p>{{ present_org.name_of_org }}</p></div>
				</div>
			</div>
			<div id="mainbody">
				<div class="row container-fluid">
					<div id="navbar">
						<div class="naventry"><a href="/orgs/home/">Home</a></div>
						<div class="naventry"><a href="/orgs/profile/">Profile</a></div>
						<div class="naventry"><a href="/accounts/logout/">Logout</a></div>
					</div>
				</div>
				<div class="row container-fluid">
					<div class="col-md-8">
						<div class="center requestswrap" ng-repeat="disaster in disasters">

							<div class="requestsbar">
								<div class="bigtiles">
									<div class="row">
										<h2> Disaster code : [[ disaster.disaster_code ]] </h2>
									</div>
									<div class="row">
										<div class="tablewrap test col-md-8 col-sm-12">
											<table class="table table-striped table-bordered table-condensed">
												<tr><th>Time of Approval</th><th>[[ disaster.created ]]</th></tr>
												<tr><td>Disaster Name</td><td>[[ disaster.disaster_name ]]</td></tr>
												<tr><td>Reason</td><td>[[ disaster.reason ]]</td></tr>
												<tr><td>Estimated Affected People</td><td>[[ disaster.no_people_affected ]]</td></tr>
												<tr><td>location latitude</td><td>[[ disaster.latitude ]]</td></tr>
												<tr><td>location longitude</td><td>[[ disaster.longitude ]]</td></tr>
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-lg-3">
											<button type="button" class="btn btn-success">Accept</button>
										</div>
										<div class="col-md-4 col-lg-3">
											<button type="button" class="btn btn-danger">Decline</button>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					<div class="col-md-4">
						<div id="messagebarwrap">
							<div id="messagebar">
                                <div ng-repeat="message in messages">

								<div class="smalltiles"><p><strong>[[ message.sender ]] ( [[ message.created.split('T')[0] ]]) : </strong> [[ message.message_content]]</p></div>
                            </div>
							</div>
							<br/>
							<div id="create_message">
								<form action="/orgs/create_message/" method="post" enctype="multipart/form-data">{% csrf_token %}
									<p> Receiver Organisation </p>
									{{ form.receiver_org_id }}
									<p> Message </p>
									{{ form.message_content }}
									<input type="submit" name="submit" value="create message">
								</form>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div>

	</body>
</html>
