<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/organisation/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/organisation/css/hometrail.css">
		<script>
		function aa(){
		console.log('hey there!!');
		}
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div id="headerwrapper">
				<div class="row" id="topbar">
					<div class="col-md-3 col-sm-6 "><p>Disaster Management portal</p></div>
					<div class="col-md-4 tile"></div>
					<div class="col-md-3 col-sm-6"><p>{{ org.name_of_org }}</p></div>
				</div>
			</div>
			<div id="mainbody">
				{{ username }}
				<div class="row container-fluid">
					<div id="navbar">
						<div class="naventry"><a href="/orgs/home/">Home</a></div>
						<div class="naventry"><a href="/orgs/profile/">Profile</a></div>
						<div class="naventry"><a href="/accounts/logout/">Logout</a></div>
					</div>
				</div>
				<div class="row container-fluid">
					<div class="profile wrapper center">
						<h1> Profile of {{ org.name_of_org }} </h1>
						<table class="table table-striped table-condensed table-bordered">
							<tr>
								<td><B>Organisation Name </B> </td>
								<td>{{ org.name_of_org }}</td>
							</tr>
							<tr>
								<td><B>GPS co-ordinates </B> </td>
								<td>{{ org.latitude }},{{ org.longitude }} </td>
							</tr>
							<tr>
								<td><B>Organisation Head </B> </td>
								<td>{{ org.org_head }} </td>
							</tr>
							<tr>
								<td><B>Tags </B> </td><td>{{ org.tags }} </td>
							</tr>
							<tr>
								<td><B>Email </B> </td>
								<td>{% for mail in contact_mails %} {{ mail.contact_mail}},  {% endfor %}</td>
							</tr>
							<tr>
								<td><B>Contact number </B> </td>
								<td>{% for number in contact_numbers %} {{ number.contact_number }},  {% endfor %}</td>
							</tr>
						</table>
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>
