<html>
	<head>
	<script src="/static/organisation/js/angularjs.js"></script>
	<script>


var app = angular.module('myapp', []).config(function($interpolateProvider){
	$interpolateProvider.startSymbol('[[').endSymbol(']]');
});

app.controller('myctrl', ['$scope', '$http', '$templateCache',
		function($scope, $http, $templateCache) {
			
			$scope.myvar = 'initial';
			$scope.umesh = 'singla';
			console.log("inside controller");

			$scope.init = function(){
				console.log('inside init');
				$http.get('http://127.0.0.1:8000/data/getuserid/').then(
						function(response){
							$scope.id = response.data.id
							console.log('useris fetched')
							console.log($scope.id)
						}, function(error){
							console.log(error);	
						});
			
			};
			$scope.getdisasters = function(){	
				console.log($scope.id)
				$http.get('http://127.0.0.1:8000/data/getdisasters/'+ $scope.id +'/').
					then(function(response) {
						$scope.myvar = response.data;
						console.log(response);
					}, function(error) {
						console.log(error);
					});
			};
			$scope.getmessages = function(){	
				console.log($scope.id)
				$http.get('http://127.0.0.1:8000/data/getmessages/'+ $scope.id +'/0/').
					then(function(response) {
						$scope.myvar = response.data;
						console.log(response);
					}, function(error) {
						console.log(error);
					});
			};
		}]);



	</script>
	<style>
	.something{
	display:none;
	}
	</style>
	</head>
	<body ng-app='myapp'>
		<div ng-controller="myctrl" ng-init="init()">
			<input type='text' ng-model='myvar' ></input>
			<div>[[myvar]] [[umesh]]</div>
			/*<div ng-repeat="user in myvar">
				<p> [[ user.userid ]] </p>
				<p> [[ user.org_head ]] </p>
				<p> [[ user.name_of_org ]] </p>
				<p> [[ user.org_strength ]] </p>
				<p> [[ user.latitude ]] </p>
				<p> [[ user.longitude ]] </p>
				<p> [[ user.tags ]] </p>
				
			</div>*/
			<input type="button" value="send to server" ng-click='getmessages()'></input>
		</div>
	</body>
</html>
