<!DOCTYPE HTML>
<html>
<head>
<title>Disaster Response | login</title>
<link rel="stylesheet" href="/static/authentication/css/test.css" type="text/css" media="all">

</head>
<body>
	<div id="login">
	<h1><strong>Welcome </strong> Please login</h1>
	<form action="/accounts/login/" method="post">{% csrf_token %}
		<fieldset>
			<p><input type="text" placeholder="User name" name="username" id="username"/></p>
			<p><input type="password" placeholder="Password" name="password" id="password"/></p>
		{% if false %}
		<p><a href="{% url "password_reset_recover" %}"> Forgot Password? </a></p>
		{% endif %}
	 	<input type="submit" value="Login" />
		</fieldset>
	</form>
	 <p><span class="btn-round">or</span></p>
	 <p>
	 <div class="register">
	 <a class="register-before" href="/accounts/register/">Register Now</a>
	 </div>
	 </p>
	</div>
		<h4><a href="/accounts/register/">Register Now!</a></h4>

<!--login end here-->
</body>
</html>
