<!DOCTYPE html>
<html>
	<head>
		<title>Disaster Response | register</title>

		<link rel="stylesheet" href="/static/organisation/new/bootstrap/css/bootstrap.min.css">
		<script src="/static/organisation/new/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/organisation/new/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<script src="/static/organisation/js/angularjs.js"></script>
	<script>
	function myfunc(){
			console.log('asdasd');
			var y = document.getElementById("id_password1");
		 	y.type = 'password';
		 	var z = document.getElementById("id_password2");
		 	z.type = 'password';
	}
	</script>


	</head>
	<body style="background-color:lavender;" onload="myfunc()">
		<div >
			<div class="wrapper" style="height:100vh">

			<div class="form" style="margin:auto;max-width:400px;margin-left:auto;margin-top:10%;padding:40px;background-color:white;">
				<div class="row" style="text-align: center; font-size: 2em;">
					Registration PART-1
				</div>
				<br>
      			<form class="form-contact" action="" method="POST">
      				{% csrf_token %}

					{% for field in form %}
					<div class="row">
						{{ field.key }}
        				<fieldset class="form-group">
          					<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            					<input type="text" class="form-control"
                					name="{{ field.name }}"
                					id="id_{{ field.name }}"
                					value="" placeholder="" value="" >

							<br/>

        				</fieldset>
					</div>
      				{% endfor %}

        <br/>
        <input type="submit" value="Continue"  class="btn btn-primary">
</form>

    </div>
			</div>
		</div>

	</body>
</html>
