<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin Portal</title>
<link rel="stylesheet" href="/static/siteadmin/css/style.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/siteadmin/css/bootstrap.min.css">
  <script src="/static/siteadmin/js/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
	<div id="header">
<div class="logo">ADMIN PORTAL <br><br></div>
		<ul>
			<li class="selected">
				<a href="/siteadmin/">Disasters</a>
			</li>
			<li>
				<a href="/siteadmin/organisations/">Organisations</a>
			</li>
			<li>
				<a href="/siteadmin/information/">Information</a>
			</li>
		</ul>
	</div>
	

<br><br><br>

<div class="row">
    
    <div class="col-sm-5">
 <h1>#FACEBOOK data</h1> 
<br>    
<table class="facebookdata" border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:3px solid #0C0505;color:#000000;width:100%" cellpadding="3" cellspacing="3">
	
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.<td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
        <tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
</table>


    </div>

<div class="col-sm-2">
      


    </div>

    <div class="col-sm-5">
<h1>#TWITTER data</h1>    
<br>
<table class="twitterdata" border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:3px solid #0C0505;color:#000000;width:100%" cellpadding="3" cellspacing="3">
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.<td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
        <tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>
	<tr>
		<td>Data Pertaining the Facebook Data will be shown over here in a Tile form.</td>
	</tr>

</table>

  

    </div>
  </div>




	<div id="footer">
		<div>
			<ul>
				<li class="twitter">
					<a href="">twitter</a>
				</li>
				<li class="facebook">
					<a href="">facebook</a>
				</li>
				<li class="googleplus">
					<a href="">googleplus</a>
				</li>
			</ul>
<br>
<br>
			<p>
				&copy; Copyright 2015. All rights reserved
			</p>
		</div>
	</div>
</body>
</html>
