<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin Portal</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>

</head>
<body>
	<div id="header">
<div class="logo">ADMIN PORTAL <br><br></div>
		<ul>
			<li>
				<a href="disasters.html">Disasters</a>
			</li>
			<li class="selected">
				<a href="organization.html">Organizations</a>
			</li>
			<li>
				<a href="information.html">Information</a>
			</li>
			
		</ul>
	</div>




 <div class="orgprofile">
	<div class="col-sm-3">
    
<br><br><br>

<table  class="orglist1" border="3" style="background-color:#FFFFCC;border-collapse:collapse;border:3px solid #0C0505;color:#000000;width:100%" cellpadding="3" cellspacing="3">
	<tr>
		<th>ORGANIZATIONS_LIST</th>
	</tr>
	<tr>
		<td>Hospital</td>
	</tr>
	<tr>
		<td>Firedepartment</td>
	</tr>
	<tr>
		<td>Police Office</td>
	</tr>
	<tr>
		<td>NGOs</td>
	</tr>
	<tr>
		<td>Police Office</td>
	</tr>
	<tr>
		<td>NGOs</td>
	</tr>
	<tr>
		<td>Police Office</td>
	</tr>
	<tr>
		<td>NGOs</td>
	</tr>
</table>

  


        </div>
	<div class="col-sm-9">
  <br><br><br>

<div id="header1">
		<ul>
			<li>
				<a href="hospital.html">Hospitals</a>
			</li>
			<li>
				<a href="fire.html">Firedepartment</a>
			</li>
			<li>
				<a href="police.html">Police Offices</a>
			</li>
			<li>
				<a href="ngo.html">NGOs</a>
			</li>
		</ul>
	</div>



    
  </div>




	<div id="footer">
		<div>
			<ul>
				<li class="twitter">
					<a href="">twitter</a>
				</li>
				<li class="facebook">
					<a href="">facebook</a>
				</li>
				<li class="googleplus">
					<a href="">googleplus</a>
				</li>
			</ul>
			<p>
				&copy; Copyright 2015. All rights reserved
			</p>
	</div>
</div>	
</body>
</html>
